# TMDB API Key (Get at themoviedb.org)
TMDB_API_KEY=YOUR_API_KEY_HERE

# Media Folders (Comma separated paths)
# Example: C:\Movies,E:\Series
MEDIA_SOURCES=C:\Path\To\Your\Media,D:\Another\Path

# Server Port
PORT=3001
NODE_ENV=production
